<h1>イラスト投稿ページ</h1>
<%= form_with model: Pict.new do |f| %>

<table class="table">

  <%= f.text_field :title, placeholder: "タイトル" %>

  <!--別ページにリロードなしで行けて個別に書ける、下書き保存が出来る-->
  <div class="field">
  <%= f.label :image %>
  <%= f.file_field :image, multiple: true %>
  </div>

  <%= f.text_area :caption, placeholder: "イラストの説明、あらすじなど" %>
  
    <div class="form-group">
    <%= f.select :privacy, [["公開",1],["非公開",2]], include_blank: "選択してください" %>
  </div>

  <%= f.submit '投稿' %>

</table>
<% end %>
