
<h1>User::Picts#show</h1>

<div class="text-center">
  <p><%= @pict.title %></p>
  <p><%= image_tag @pict.image.variant(resize: '500X500') %>
   <script src="script.js">
  // <!--スライダー箇所全体を内包する要素-->
  <div class="swiper">
    
    // <!--スライド部を内包する要素-->
    <div class="swiper-wrapper">
      // <!--スワイパーで表示、イーチでとうこうされたものを表示させる-->
      // <!--各スライドを入れる要素-->
      <div class="swiper-slide">
        // <!--画像-->
      </div>
    </div>
    
    // <!--ページネーションの要素-->
    <div class="swiper-pagination"></div>
    
    // <!--ナビゲーションボタン（前、次）-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    
    
    <!--<div class="swiper-scrollbar"></div>-->
    
  </div>
  </script>
  </p>
  <P><%= @pict.caption %></P>
</div>
<div class="text-right">
  <div class="pict_bookmarks_button_<%= @pict.id %>">
    <%= render 'user/pict_bookmarks/bookmark-btn', pict: @pict %>
  </div>
    <p>コメント数:<%= @pict.pict_comments.count %></p>

    <p><%= link_to user_page_path(@pict.user.id) do %>
       <%= image_tag @pict.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %></p>
    <p><%= @pict.user.nickname %></p>
    <% end %>
    
    <% if @pict.user == current_user %>
    <P><%= link_to edit_pict_path(@pict.id), class: "text-success" do %>
          <i class="fa-solid fa-pen-to-square"></i><% end %></P>
          
    <P><%= link_to pict_path(@pict.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" do %>
          <i class="fa-solid fa-trash-can"></i><% end %></P>
    <% else %>
    <p></p>
    <p></p>
    <% end %>
    
</div>
    
    
  <div class="comment_index">
  <%= render 'user/pict_comments/comment-index', pict: @pict %>
  </div>
  <div class="comment_form">
  <%= render 'user/pict_comments/form', pict: @pict, pict_comment: @pict_comment %>  
  </div>
    
