<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>

<table class="table">
  <tbody>

    <tr>
    <div class="field">
       <th><%= f.label :名前 %></th>
       <th>（名前）<%= f.text_field :name, class: "form-control", autofocus: true %></th>
    </div>
      </tr>

    <tr>
    <div class="field">
       <th><%= f.label :アカウント名 %></th>
       <th>（名前）<%= f.text_field :name, class: "form-control" %></th>
    </div>
      </tr>

      <tr>
    <div class="field">
       <th><%= f.label :生まれた年 %></th>
       <th>（名前）<%= f.text_field :year, class: "form-control" %></th>
    </div>
      </tr>

    <tr>
    <div class="field">
       <th><%= f.label :誕生日 %></th>
       <th>（名前）<%= f.text_field :birthday, placeholder: "（例1月1日）" class: "form-control" %></th>
    </div>
    </tr>



    <tr>
    <div class="field">
      <th><%= f.label :メールアドレス %></th>
      <th><%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    </th>
    </div>
    </tr>

    <tr>
    <div class="field">
      <th><%= f.label :パスワード %></th>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <th><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </th>
    </div>
    </tr>

    <tr>
    <div class="field">
      <th><%= f.label :パスワード確認用 %></th>
      <th><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </th>
    </div>
    </tr>

    <tr>
    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
    </tr>

  </tbody>
</table>
<% end %>

<%= render "user/shared/links" %>
