<!--要確認-->
        <% if user_signed_in? %>
        <% if novel.bookmarked_by?(current_user) %>
              <p>
              <%= link_to novel_bookmarks_path(novel), method: :delete, class: "text-danger", remote: true do %>
              <i class="fa-solid fa-heart"></i><%= novel.bookmarks.count %>
              <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to novel_bookmarks_path(novel), method: :post, remote: true do %>
               <i class="fa-solid fa-heart"></i><%= novel.bookmarks.count %>
                <% end %>

              </p>
            <% end %>


            <% else %>
             <p>
                <%= link_to new_user_registration_path do %>
               <i class="fa-solid fa-heart"></i>ブックマークには新規登録をお願いします。
                <% end %>

              </p>
            <% end %>