<h1><%= @user.nickname %>さんのページ</h1>

<div class="text-right">
  
  <% unless @user.id == current_user.id %>
<% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
<% if @is_room == true %>

 <p class="user-show-room"><a href="/rooms/<%= @room_id %>" class="btn btn-primary btn-lg">チャットへ</a>

 <% else %>
 <%= form_for @room do |f| %>
 <%= fields_for @entry do |e| %>
 <%= e.hidden_field :user_id, value: @user.id %>
 <% end %>
 <%= f.submit "chatを始める", class:"btn btn-primary btn-lg" %>
     <% end %>
   <% end %>
<% end %>
<% end %>
  
</div>

<div class="text-center">
  <p><%= image_tag @user.get_profile_image(100,100), class: "mt-3 rounded-circle" %></p>
  <p><%= @user.nickname %></p>
  <p><%= @user.profile %></p>

 <div class = "sns-link">
          <ul class="profile-links">
          <!--登録していたら表示、していなかったら非表示-->
            <% if @user.twitter.present? %>
              <li class="profile-link">
                <%= link_to @user.twitter, target: :_blank do %>
                  <i class="fa-brands fa-twitter"></i>
                <% end %>
              </li>
            <% end %>
            
            <% if @user.facebook.present? %>
              <li class="profile-link">
                <%= link_to @user.facebook, target: :_blank do %>
                  <i class="fa-brands fa-facebook"></i>
                <% end %>
              </li>
              
            <% end %>
            <% if @user.instagram.present? %>
              <li class="profile-link">
                <%= link_to @user.instagram, target: :_blank do %>
                  <i class="fa-brands fa-instagram"></i>
                <% end %>
              </li>
            <% end %>
            </ul>
        </div>

<% if @user == current_user %>

<p><%= link_to edit_user_page_path(@user), class: "btn btn-outline-secondary btn-block" do %>
<i class="fa-solid fa-pen-to-square"></i>
<% end %>
</p>
<% else %>

  <% if current_user.following?(@user) %>

  <%= link_to "フォロー外す",user_page_relationships_path(@user.id), method: :delete, class: "btn btn-outline-secondary btn-block" %>
  <% else %>
  <%= link_to "フォローする", user_page_relationships_path(@user.id),  method: :post, class: "btn btn-outline-info btn-block" %>
  <% end %>
  
<% end %>
</div>

<h3>イラスト、マンガ</h3>
<%= render 'user/picts/pict_index', picts: @picts %>

<h3>小説</h3>
<%= render 'user/novels/novel_index', novels: @novels %>
