<!DOCTYPE html>
<html>
  <head>

    <title>AEbcomI</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/5bd8084eaa.js" crossorigin="anonymous"></script>

  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <!--ユーザーがサインインしていたら遷移できるページ-->
            <% if current_user.check == "使用可" %>
            <P>ようこそ！</P>
            <% else %>
            <p>
              規約違反をしている可能性があります<br>
            <%= link_to "こちらをご確認ください", homes_warning_path, class: "text-danger" %>
            </p>
            
            <% end %>
            <li class="nav-item">
              <%= link_to user_page_path(current_user.id), class: 'nav-link text-success' do %>
              <i class="fa-solid fa-user"></i> マイページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_novel_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-file-pen"></i> 小説投稿
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_pict_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-file-image"></i> イラスト・漫画投稿
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to picts_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-palette"></i> みんなのイラスト・漫画
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to novels_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-pen-nib"></i> みんなの小説
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to destroy_user_session_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-door-open"></i>会員 Log Out
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_contact_path, class: 'nav-link text-success' do %>
              <i class="fa-regular fa-envelope"></i> お問い合わせ
              <% end %>
            </li>

            <% elsif admin_signed_in? %>
            <!--管理者がログインしている場合-->
            <li class="nav-item">
              <%= link_to admin_user_pages_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-shield-halved"></i>管理人 ユーザー一覧
              <% end %>
            </li>
            
            <li class="nav-item">
              <%= link_to admin_contacts_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-shield-halved"></i>管理人 お問い合わせ受付ページ
              <% end %>
            </li>
            
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, class: 'nav-link text-success' do %>
              <i class="fa-duotone fa-door-open"></i>管理人 Log Out
              <% end %>
            </li>
            <% else %>
            <!--ログインしていない状態-->

            <li class="nav-item">
              <%= link_to picts_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-palette"></i> みんなのイラスト・漫画
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to novels_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-pen-nib"></i> みんなの小説
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to homes_about_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-seedling"></i> About
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-user-plus"></i> 新規登録
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-success' do %>
              <i class="fa-solid fa-right-to-bracket"></i> Log In
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_contact_path, class: 'nav-link text-success' do %>
              <i class="fa-regular fa-envelope"></i> お問い合わせ
              <% end %>
            </li>
            <% end %>
            
        </div>
      </nav>
    </header>
    <div>
      <%= flash[:notice] %>
    </div>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
